.content {
  text-align: center;
  padding: 56px 0 36px;
}

.list {
  max-width: 600px;
  margin: 0 auto;
  text-align: left;
}

.title {
  margin: 10px 0 12px;
  font-size: 36px;
  letter-spacing: 0.2px;
}
